<!DOCTYPE html>
<html>
<head>
	<title>signin</title>
 	<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
</head>
<style>
	body{

margin:0;
/* color:#6a6f8c; */
background:url("./homenew.jpg") no-repeat;
  background-size:cover;
/* background-position: center; */

/* width: 100px; */
position: relative;
display:flex;
margin: 0 auto;
/* background:#1C2754; */
font-family: 'Nunito Sans';
/* font-size: 22px; */

font:600 16px/18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: darkgray;
}

/* Navigation */

nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #1ABC9C;
}

nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 70px;
  font-size: 30px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  color: #34495E;
}
a.active {
  border-bottom: 10px solid #ecf0f1;
}

/* Headings */

h1 {
  font-size: 5rem;
  color: #34495E;
}

/* Sections */

section {
  width: 100%;
  padding: 350px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 100px;
  text-align: center;
}
section:nth-child(even) {
  background: #ecf0f1;
}
section:nth-child(odd) {
  background: #bdc3c7;
}
.sections section:first-child {
  margin-top: 60px;
}

footer {
  height: 500px;
  background: #34495e;
}



.navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0,0,0,.0);
}

body #de{
	color: white;
	height:360px;
	margin-top: 250px;
	margin-left: 560px;
	padding: 16px;
	width:300px;
	line-height: 1.7em;
  text-align: center;
  background-color:#17203F;
  border-radius: 15px;
}
.buto{
	background-color: #3658D8;
	border-radius: 10px;
	color:white;
	margin: 8px 2px;
  border-color: #17203F;
  border-width: 0.5px;
  margin-left: 10px;
	padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.graph{
	/* background-image: url("/img/Group\ 55.svg"); */
	/* width:10px; */
	padding-left: 15px;
}

</style>
</head>
<body>
	<nav class="navbar-transparent" role="navigation">
		<ul>
			<span><img src="Group 49.svg" width="50px" height="50px" padding-top="10px"></span>
		  <li><a href="#1">Home</a></li>
		  <li><a href="#2">Feed</a></li>
		  <li><a href="#3">connections</a></li>
		  <!-- <li><a href="#4">Fourth</a></li> -->
		  <li><a href="#5" >Profile</a></li>
		</ul>
	  </nav>

	<div id="de">
		<div><%= name %> <span style="background-color: #3658D8; font-size: 12px; border-radius: 8px;padding: 0px 8px;
			text-align: center;
			text-decoration: none;
			display: inline-block;">NSE</span></div>
		<br>
		<div><span style="color:green">Current Price : </span>$ <%= data.current_price %> </div>
		<div><span style="color:green">Open Price : </span>$ <%= data.open_price %> </div>
		<div><span style="color:green">High Price : </span>$ <%= data.high_price %> </div>
		<div><span style="color:green">Low Price : </span>$ <%= data.low_price %> </div>
		<div><span style="color:green">Previous Price : </span>$ <%= data.previous_close %> </div>
		<!-- <div><%= data.current_price	 - data.open_price %></div> -->
		<div><button class="buto">BUY</button></div><br>
		<div class="graph">
			<img src="Group 55.png " width="200px">
		</div>
	</div>


</body>
</html>