<!DOCTYPE html>
<html>
<head>
	<title>signin</title>
</head>
<body>
	<header>
		<span>logo</span>
		<span><a href="">Home</a></span>
		<span>Feed</span>
		<span>connections</span>
		<span class="active">Profile</span>
	</header>

	<div>
		<div><%= name %> nse</div>
		<div><%= data.current_price %> </div>
		<div><%= data.open_price %> </div>
		<div><%= data.high_price %> </div>
		<div><%= data.low_price %> </div>
		<div><%= data.previous_close %> </div>
		<div><%= data.current_price - data.open_price %></div>
	</div>
	<div>
		<form method="POST" action="/buy">
			<button name="buy" value="<%= name %>">BUY</button>
			<input type="text" name="price" value="<%= data.current_price %>">
			<input type="radio" name="public" value="true">
			<label for="public">Public</label><br>
			<input type="radio"name="public" value="false">
			<label for="Private">Private</label><br>
		</form>
		<div>Click to buy 10 shares of <%= name %></div>
	</div>

	<div>IMAGE figma se le lio vrna sunidhi se</div>

</body>
</html>