<!DOCTYPE html>
<html>
<head>
	<title>signin</title>
</head>
<body>
	<header>
		<span>logo</span>
		<span><a href="">Home</a></span>
		<span>Feed</span>
		<span>connections</span>
		<span class="active">Profile</span>
	</header>

	<div>
		<div><%= name %> nse</div>
		<div><%= data.current_price %> </div>
		<div><%= data.open_price %> </div>
		<div><%= data.high_price %> </div>
		<div><%= data.low_price %> </div>
		<div><%= data.previous_close %> </div>
		<div><%= data.current_price - data.open_price %></div>
	</div>

	<div>IMAGE figma se le lio vrna sunidhi se</div>

</body>
</html>